# Helix
/_build
/cover
/deps
/doc
/docs/all.json
helix.log

# Erlang
erl_crash.dump
*.ez

# IntelliJ
/.idea
*.iml

# Sublime
*.sublime-project
*.sublime-workspace

# Emacs
.\#*

# Macintosh
*.DS_Store

# xref graphs
xref_graph.dot
/graphs

**GPATH
**GRTAGS
**GTAGS
